.fa {
    background-color: rgb(241, 255, 161) ;
    color: #00507e;
    border: 2px solid #0087d4;

}
    
body{  
background-color:#41ca17;


}

header {
    text-align: center;
}


.povidom {
padding: 4px
}

.pov {
    padding: 4px
}

.age-input{
     padding: 5px
}

.povid {
padding: 4px;
margin-bottom: 10px;
margin-top: 5px;



}


main{
    border: 7px groove #e1ff5c ;  
    text-align: left;  
}

.five{
      border: 3px groove #e1ff5c ;  
     margin-left: -200px;
     margin-top: -4px;
     margin-right: 200px;
}

.seven {
      border: 3px groove #e1ff5c ;  
      justify-content: left;  
}

.true {
       display: inline-block;
       margin-top: 50px;
       margin-bottom: -50px;
}
h4{
        display: inline-block; 
 
}

.six {
     border: 3px groove #e1ff5c ;  

         text-align: right;

}
